<div class="container">
  <div class="login-info">
    <div class="main-header">
      <h1>Fabricator</h1>
      <p>
       Project management tool for open-source projects.
      </p>
    </div>
    <div class="login-modal">
      <div class="credentials">
        <form class="form-signin" _lpchecked="1">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" style=""background-image: url()>

          <label for="inputPassword" class="sr-only">Password</label>
          <input id="inputPassword" class="form-control" placeholder="Password" required="" style="" autocomplete="off" type="password">

          <div class="checkbox">
            <label>
              <input value="remember-me" type="checkbox"> Remember me
            </label>
          </div>
          <button class="btn btn-primary btn-block" type="submit">
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="navbar">
  </div>
</div>
